<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{#each arr}} </br>
            {{name}} </br>
            {{#each bbb}} </br>
                {{../name}}: {{this}} </br>
            {{/each}} </br>
        {{/each}} </br>
    </body>
</html>
